
body{
  background-color: black;	
}

.center {

    width: 300px;
    height: 500px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    margin-left: auto ;
    margin-right: auto ;
}

