/* line 4, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
body {
  width: 100%;
  height: 100%;
  font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
  background-color: black; }

/* line 12, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
html {
  width: 100%;
  height: 100%; }

/* line 22, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px; }

/* line 30, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5; }

@media (min-width: 767px) {
  /* line 37, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6; } }
/* line 44, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
a {
  color: #219ab3;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  /* line 50, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  a:hover, a:focus {
    text-decoration: none;
    color: #11505d; }

/* line 56, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.light {
  font-weight: 400; }

/* line 60, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: black; }
  /* line 66, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  .navbar-custom .navbar-brand {
    font-weight: 700; }
    /* line 68, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
    .navbar-custom .navbar-brand:focus {
      outline: none; }
    /* line 71, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
    .navbar-custom .navbar-brand .navbar-toggle {
      padding: 4px 6px;
      font-size: 16px;
      color: white; }
      /* line 76, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
      .navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
        outline: none; }
  /* line 81, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  .navbar-custom a {
    color: white; }
  /* line 86, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  .navbar-custom .nav li.active {
    outline: nonte;
    background-color: rgba(255, 255, 255, 0.3); }
  /* line 90, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  .navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out; }
    /* line 96, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
    .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus, .navbar-custom .nav li a.active {
      outline: none;
      background-color: rgba(255, 255, 255, 0.3); }

@media (min-width: 767px) {
  /* line 106, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  .navbar {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out; }

  /* line 116, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  .top-nav-collapse {
    padding: 0;
    background-color: black; }

  /* line 121, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); } }
/* line 126, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  /* background: url(../img/intro-bg.jpg) no-repeat bottom center scroll; */
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
  /* line 139, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  .intro .intro-body {
    display: table-cell;
    vertical-align: middle; }
    /* line 142, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
    .intro .intro-body .brand-heading {
      font-size: 40px; }
    /* line 146, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
    .intro .intro-body .intro-text {
      font-size: 25px; }

@media (max-width: 320px) {
  /* line 153, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  .intro {
    height: 100%;
    padding: 0px; }
    /* line 157, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
    .intro .intro-body .brand-heading {
      font-size: 25px; }
    /* line 161, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
    .intro .intro-body .intro-text {
      font-size: 15px; } }
@media (min-width: 767px) {
  /* line 169, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  .intro {
    height: 100%;
    padding: 100px; }
    /* line 173, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
    .intro .intro-body .brand-heading {
      font-size: 40px; }
    /* line 177, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
    .intro .intro-body .intro-text {
      font-size: 20px; } }
@media (min-width: 1024px) {
  /* line 185, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  .intro {
    height: 100%;
    padding: 0; }
    /* line 189, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
    .intro .intro-body .brand-heading {
      font-size: 50px; }
    /* line 193, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
    .intro .intro-body .intro-text {
      font-size: 25px; } }
/* line 200, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 35px;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out; }
  /* line 214, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  .btn-circle:hover, .btn-circle:focus {
    outline: none;
    color: white;
    background: rgba(255, 255, 255, 0.1); }
  /* line 219, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s; }
  /* line 226, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear; }

@-webkit-keyframes pulse {
  /* line 240, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  0 {
    -webkit-transform: scale(1);
    transform: scale(1); }

  /* line 245, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }

  /* line 250, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes pulse {
  /* line 257, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  0 {
    -moz-transform: scale(1);
    transform: scale(1); }

  /* line 262, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  /* line 267, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  100% {
    -moz-transform: scale(1);
    transform: scale(1); } }

/* line 273, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.download-section {
  width: 100%;
  padding: 50px 0;
  color: white;
  /* background: url(../img/downloads-bg.jpg) no-repeat center center scroll; */
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

/* line 285, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
#map {
  width: 100%;
  height: 200px;
  margin-top: 100px; }

/* line 291, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.content-section {
  padding-top: 100px; }

@media screen and (min-width: 768px) and (max-width: 1200px) {
  /* line 296, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  .content-section {
    padding-top: 200px; } }
@media (min-width: 768px) {
  /* line 302, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  .download-section {
    padding: 100px 0; }

  /* line 306, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  #map {
    height: 400px;
    margin-top: 250px; } }
/* line 312, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.btn {
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

/* line 321, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.btn-default {
  border: 1px solid #219ab3;
  color: #219ab3;
  background-color: transparent; }
  /* line 326, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  .btn-default:hover, .btn-default:focus {
    border: 1px solid #219ab3;
    outline: none;
    color: black;
    background-color: #219ab3; }

/* line 334, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
ul.banner-social-buttons {
  margin-top: 0; }

@media (max-width: 1199px) {
  /* line 339, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  ul.banner-social-buttons {
    margin-top: 15px; } }
@media (max-width: 767px) {
  /* line 346, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0; }
    /* line 350, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
    ul.banner-social-buttons li:last-child {
      margin-bottom: 0; } }
/* line 357, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
footer {
  padding: 50px 0; }
  /* line 359, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
  footer p {
    margin: 0; }

/* line 364, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2); }

/* line 370, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2); }

/* line 376, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
img::selection {
  background: transparent; }

/* line 380, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
img::-moz-selection {
  background: transparent; }

/* line 384, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2); }

/* line 388, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
#team p {
  text-align: justify; }

/* line 396, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.fixed {
  height: 400px;
  overflow: hidden; }

/* line 397, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.scrollit {
  height: 400px;
  overflow-y: scroll; }

/* line 400, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.LegalStuff {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: small; }

/* line 405, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.content {
  display: none; }

/* line 407, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.BioPar p {
  font-family: "Montserrat";
  font-size: x-small; }

/* line 412, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.top-buffer {
  margin-top: 30px; }

/* line 413, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.bottom-buffer-small {
  margin-bottom: 5px; }

/* line 414, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.top-buffer-small {
  margin-top: 5px; }

/* line 415, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.top-buffer-md {
  margin-top: 15px; }

/* line 418, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.justifiedText {
  text-align: justify; }

/* line 422, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.otherContrib {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: small; }

/* line 427, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.thumBlack {
  background-color: black;
  border-color: gray; }

/* line 432, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
#visitorMessage {
  resize: none; }

/* line 436, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.test {
  border: 0px;
  border-color: black;
  border-width: 0px; }

/* line 442, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.repoImgLeft {
  float: left; }

/* line 445, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.repoImgRight {
  float: right; }

/* line 448, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.repoImgCenter {
  float: center; }

/* line 452, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.thumBlackRepo {
  background-color: black;
  border-color: black;
  height: 150px; }

/* line 458, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.likeSch {
  display: inline-block; }

/* line 462, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
#svLogoTitle {
  width: 100%; }

/* line 466, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.centerTitleText {
  margin: auto;
  text-align: center; }

/* line 471, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.centreDoc {
  width: 50%;
  margin: 0 auto; }

/* line 476, /home/dave/software/ktbolt/simvascular.github.io/source/css/grayscale.scss */
.rotate90 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }
