<!--Nav Bar -->
<p><h4>Electrophysiology <br> Modeling using svFSI</h4></p>
<li><a href="#intro">Introduction</a></li>
<li><a href="#theory">Theory & Implementation</a>
    <ul class="nav nav-stacked">
        <li><a href="#propagation">Propagation model</a></li>
        <li><a href="#activation">Cellular activation <br> models</a></li>
    </ul>
</li>
<li><a href="#example">Example</a></li>
<li><a href="#ref">Reference</a></li>
