<section id="intro" class="group"><%= partial "documentation/svfsi/cep/introduction" %></section>
<section id="theory" class="group"><%= partial "documentation/svfsi/cep/theory" %></section>
<section id="example" class="group"><%= partial "documentation/svfsi/cep/example" %></section>
<section id="ref" class="group"><%= partial "documentation/svfsi/cep/reference" %></section>
