<!--Nav Bar -->
<p><h4>Hemodynamics <br> Modeling <br> using svFSI</h4></p>
<li><a href="#intro">Introduction</a></li>

<li><a href="#nn">Non-Newtonian flow</a>
  <ul class="nav nav-stacked">
    <li><a href="#nn_theory">Viscosity models</a></li>
    <li><a href="#nn_input">Input file</a></li>
  </ul>
</li>

<li><a href="#pres">Prescribed wall motion</a>
  <ul class="nav nav-stacked">
    <li><a href="#pres_wall">Wall motion</a></li>
    <li><a href="#pres_input">Input file</a></li>
  </ul>
</li>

<li><a href="#ref">Reference</a></li>
