<section id="intro" class="group"><%= partial "documentation/svfsi/fluid/introduction" %></section>
<section id="theory" class="group"><%= partial "documentation/svfsi/fluid/theory" %></section>
<section id="ref" class="group"><%= partial "documentation/svfsi/fluid/reference" %></section>
