<!--Nav Bar -->
<p><h4>Cardiac Mechanics <br> Modeling using svFSI</h4></p>
<li><a href="#intro">Introduction</a></li>
<li><a href="#mesh-gen">Mesh generation</a></li>
<li><a href="#solver-input">Input file</a></li>

<li><a href="#theory">Theory & Implementation</a>
  <ul class="nav nav-stacked">
    <li><a href="#kinematics">Kinematics</a></li>
    <li><a href="#struct">STRUCT: displacement- <br> based elastodynamics</a></li>
    <li><a href="#ustruct">uSTRUCT: mixed formu- <br> lation elastodynamics</a></li>
    <li><a href="#material-models">Material models</a></li>
  </ul>
</li>
<li><a href="#refs">References</a></li>
</li>

