<section id="struc_intro" class="group"><%= partial "documentation/svfsi/structure/introduction" %></section>
<section id="struc_theory" class="group"><%= partial "documentation/svfsi/structure/theory" %></section>
<section id="struc_ref" class="group"><%= partial "documentation/svfsi/structure/reference" %></section>
