<section id="intro" class="group"><%= partial "documentation/svfsi/structure/introduction" %></section>
<section id="theory" class="group"><%= partial "documentation/svfsi/structure/theory" %></section>
<section id="ref" class="group"><%= partial "documentation/svfsi/structure/reference" %></section>
