<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= current_page.data.title || "SimVascular" %></title>

    <%= stylesheet_link_tag "bootstrap.min",
                            "bootstrap-select.min",
                            "grayscale" %>

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="//vjs.zencdn.net/4.8/video-js.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <%= yield %>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <h5>Copyright &copy; The SimVascular Development Team - 2014</h5>
        </div>
    </footer>

    <%= javascript_include_tag "jquery-1.11.0",
                               "bootstrap.min",
                               "bootstrap-select.min",
                               "jquery.easing.min",
                               "grayscale",
                               "simple-expand.min",
                               "svVideo" %>

    <script src="//vjs.zencdn.net/4.8/video.js"></script>
    <script>
      $('.selectpicker').selectpicker({
        size: 8
      });    
      $('.expander').simpleexpand();  
    </script>
  </body>
</html>
