<!--Nav Bar -->
<p><h3>Installation</h3></p>
<li><a href="#installationDownload">Download</a></li>
<li><a href="#installationWindows">Windows</a></li>
<li><a href="#installationMac">Mac</a>
<li><a href="#installationLinux">Linux</a>
<li><a href="#installationCommand">Command Line Tools</a>
