<!--Nav Bar -->
<p><h3>Quick Guide</h3></p>
<li><a href="#intro">Introduction</a></li>
<li><a href="#gettingstarted">Getting Started</a></li>
<li><a href="#imaging">Visualizing Imaging Data</a></li>
<li><a href="#modeling">Geometric Modelling</a>
  <ul class="nav nav-stacked">
	<li><a href="#path">Creating a Path</a></li>
	<li><a href="#segmentation">2-D Segmentation</a></li>
	<li><a href="#parasolid">Creating a Model (with Parasolid)</a></li>
	<li><a href="#polydata">Creating a Model (with PolyData)</a></li>
  </ul>                
</li>
<li><a href="#meshing">Meshing</a>
  <ul class="nav nav-stacked">
	<li><a href="#meshsim">Meshing Using MeshSim</a></li>
	<li><a href="#tetgen">Meshing Using TetGen</a></li>
  </ul>                
</li>
<li><a href="#simulation">Simulation</a>
  <ul class="nav nav-stacked">
	<li><a href="#inflowbc">Inflow Boundary Conditions</a></li>
	<li><a href="#presolver">Solver Input Files</a></li>
	<li><a href="#running">Running Simulation</a></li>
  </ul>                
</li>
<li><a href="#results">Visualizing Results</a></li>

<h3>Download</h3>
<a href="https://simtk.org/frs/download.php?file_id=4653">Sample Data</a>
