<section id="intro" class="group"><%= partial "documentation/1d_simulation/intro" %></section>
<section id="intro" class="group"><%= partial "documentation/1d_simulation/tool" %></section>
<section id="intro" class="group"><%= partial "documentation/1d_simulation/solver" %></section>
<section id="references" class="group"><%= partial "documentation/1d_simulation/refs" %></section>


