<!--Nav Bar -->
<p><h3>Code Snippets</h3></p>
<li><a href="#main">Introduction</a></li>
<li><a href="#loadimage">Load image data from console</a></li>
<li><a href="#polytovolume">Polydata to image data</a></li>
<li><a href="#restoregroups">Restore groups <br>for segmentation</a>
<li><a href="#writemetaimage">Write *.mha image</a>
<li><a href="#writemodeltovolume">Write model to volume</a>
