<!--Nav Bar -->
<p><h3>Compile</h3></p>
<li><a href="#compileRequirements">System Requirements</a></li>
<li><a href="#reqLibWin">Required Libraries</a>
	<ul class="nav nav-stacked">
		<li><a href="#reqLibWin">Windows</a></li>
		<li><a href="#reqLibMac">Apple OS X</a></li>
		<li><a href="#reqLibLinux">Linux</a></li>
	</ul>
<li><a href="#compileBuild">Steps for Compiling</a>
<li><a href="#compileRun">Running Simvascular</a>
<li><a href="#compileITKVTK">ITK and VTK</a>