<!--Nav Bar -->
<p><h3>svFSI Tutorial</h3></p>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wall_mesh">Creating FSI meshes</a></li>
<li><a href="#svFSI_simulation">Setting up an svFSI <br> simulation</a></li>
<li><a href="#sim_results">Example simulation results</a></li>
<li><a href="#app_source_build">Appendix: Building svFSI from source</a></li>
<li><a href="#app_meshmixer">Appendix: Making wall mesh with <br> Meshmixer</a>
  <ul class="nav nav-stacked">
    <li><a href="#app_fluid_geometry">Creating the fluid geometry</a></li>
    <li><a href="#app_solid_geometry">Creating the solid geometry</a></li>
    <li><a href="#app_solid_mesh">Creating the solid mesh</a></li>
    <li><a href="#app_fluid_mesh">Creating the fluid mesh</a></li>
  </ul>
</li>
<li><a href="#app_restart_after_remesh">Appendix: Restart after remesh</a></li>
<li><a href="#app_app_prescribed_wall_motion">Appendix: Prescribed wall motion</a></li>
