<!--Nav Bar -->
<p><h3>Imaging Guide</h3></p>
<li><a href="#imagingOverview">Overview</a></li>
<li><a href="#imagingLoading">Loading Medical <br>Imaging Data</a></li>
<li><a href="#imagingSlicePlanes">Viewing Image <br>Slice Planes</a></li>
<li><a href="#imagingWindowLevel">Changing Window Level</a></li>
<li><a href="#imagingPointClouds">Visualzing Point Clouds</a></li>
<li><a href="#imagingVolumeRendering">Using Volume Rendering</a></li>
<li><a href="#imagingMIP">MIPs</a></li>
<li><a href="#imagingSubvolume">Resampling the <br>Volume Data</a></li>
<li><a href="#imagingCombining">Combining Several <br>Visualization Techniques</a></li>
  
<h3>Download</h3>
<a href="https://simtk.org/frs/download.php?file_id=4653">Sample Data</a>


