<section id="installationDownload" class="group"><%= partial "documentation/installation/download" %></section>
<section id="installationWindows" class="group"><%= partial "documentation/installation/windows" %></section>
<section id="installationMac" class="group"><%= partial "documentation/installation/mac" %></section>
<section id="installationLinux" class="group"><%= partial "documentation/installation/linux" %></section>
