<div class="col-xs-1">
</div>
<nav class="col-xs-3 bs-docs-sidebar" id="meshingSidebar">
  <ul id="sidebar" class="nav nav-stacked fixed">
    <p><h3>Meshing Guide</h3></p>
    <li>
    <a href="#meshSec1">Intro</a>
    </li>
  </ul>
</nav>
<!--Main Content -->
<div class="col-xs-6">
  <section id="meshSec1" class="group"><%= partial "documentation/meshing/intro" %></section>
</div>