<!--Nav Bar -->
<p><h3>Modeling Guide</h3></p>
<li><a href="#modelingIntro">Introduction</a></li>
<li><a href="#modelingPathPlanning">Path Planning</a>
  <ul class="nav nav-stacked">
	<li><a href="#modelingCreatingPath">Creating a Path</a></li>
	<li><a href="#modelingSmoothingPath">Smoothing a Path</a></li>
	<li><a href="#modelingImportingExportingPaths">Importing/Exporting Paths</a></li>
  </ul>                
</li>
<li><a href="#modelingSegmentation">Segmentation</a>
  <ul class="nav nav-stacked">
	<li><a href="#modelingUsingGroups">Using Groups</a></li>
	<li><a href="#modelingThresholding">Using Thresholding <br>to Define a Countour</a></li>
	<li><a href="#modelingLevelSet">Using Level Sets <br>to Define a Countour</a></li>
	<li><a href="#modelingManual">Segmenting an Image <br>Manually</a></li>
	<li><a href="#modelingCopyingPastingContours">Copying and Pasting <br>Contours</a></li>
	<li><a href="#modelingLoftingPreview">Lofting Preview</a></li>
	<li><a href="#modelingImportingExportingGroups">Importing/Exporting Segmentations</a></li>
  </ul>                
</li>
<li><a href="#modelingSolidModelingPolyData">Solid Modeling (PolyData)</a>
  <ul class="nav nav-stacked">
	<li><a href="#modelingCreatingModelsPolyData">Creating Solid Models</a></li>
	<li><a href="#modelingPolyDataFaces">Face Operations</a></li>
	<li><a href="#modelingEditingPolyData">Global/Local Operations</a></li>
	<li><a href="#modelingCenterlinesPolyData">Extracting Centerlines</a></li>
	<li><a href="#modelingImportingExportingModels">Importing/Exporting Models</a></li>
  </ul>                
</li>
<li><a href="#modelingSolidModelingAnalytic">Solic Modeling (Analytic)</a>
  <ul class="nav nav-stacked">
	<li><a href="#modelingCreatingModelsAnalytic">Creating Solid Models</a></li>
	<li><a href="#modelingBlendingAnalytic">Blending the Junction of <br>Two Vessels</a></li>
  </ul>                
</li>



<h3>Download</h3>
<a href="https://simtk.org/frs/download.php?file_id=4653">Sample Data</a>
