<!--Nav Bar -->
<p><h3>Modeling Guide</h3></p>
<li><a href="#modelingIntro">Introduction</a></li>
<li><a href="#modelingPathPlanning">Path Planning</a>
  <ul class="nav nav-stacked">
	<li><a href="#modelingCreatingPath">Creating a Path</a></li>
	<li><a href="#modelingSmoothingPath">Smoothing a Path</a></li>
	<li><a href="#modelingSavingLoadingPaths">Saving and Loading Paths</a></li>
  </ul>                
</li>
<li><a href="#modelingSegmentation">Segmentation</a>
  <ul class="nav nav-stacked">
	<li><a href="#modelingUsingGroups">Using Groups</a></li>
	<li><a href="#modelingVisualizingSegmentations">Visualizing <br>Segmentations</a></li>
	<li><a href="#modelingThresholding">Using Thresholding <br>to Define a Countour</a></li>
	<li><a href="#modelingLevelSet">Using Level Sets <br>to Define a Countour</a></li>
	<li><a href="#modelingManual">Segmenting an Image <br>Manually</a></li>
	<li><a href="#modelingAnalytic">Fitting an Analytic Shape <br>to the Image</a></li>
	<li><a href="#modelingCopyingPastingContours">Copying and Pasting <br>using Contours</a></li>
	<li><a href="#modelingModifyingContours">Modifying Contours</a></li>
	<li><a href="#modelingAddingToGroup">Adding Contours to a Group</a></li>
	<li><a href="#modelingDisplayingContours3D">Displaying Contours <br>in the 3D Window</a></li>
	<li><a href="#modelingBatch">Creating and Modifying <br>Segmentations <br>in Batches</a></li>
	<li><a href="#modelingPuttingTogether">Putting It All Together</a></li>
	<li><a href="#modelingSavingLoadingGroups">Saving and Loading Groups</a></li>
  </ul>                
</li>
<li><a href="#modelingSolidModeling">Creating a Solid Model <br>from 2-D Segmentation</a>
  <ul class="nav nav-stacked">
	<li><a href="#modelingCreatingModels">Using Groups of Segmentation <br>to Create Solid Models</a></li>
	<li><a href="#modelingCreatingBranch">Creating a Branch Vessel</a></li>
	<li><a href="#modelingJoining">Joining Vessels Together <br>to Create a Model</a></li>
	<li><a href="#modelingBlending">Blending the Junction of <br>Two Vessels</a></li>
  </ul>                
</li>
<li><a href="#modelingSolidModelingPolyData">Creating a Solid Model <br>with PolyData</a>
  <ul class="nav nav-stacked">
	<li><a href="#modelingCreatingModelsPolyData">Using Groups of Segmentation <br>to Create Solid Models</a></li>
	<li><a href="#modelingPolyDataFaces">Creating and Naming <br>PolyData Model Faces</a></li>
	<li><a href="#modelingEditingPolyData">Editing PolyData Models</a></li>
	<li><a href="#modelingCenterlinesPolyData">Extracting Centerlines</a></li>
  </ul>                
</li>


<h3>Download</h3>
<a href="https://simtk.org/frs/download.php?file_id=4653">Sample Data</a>
