<!--Nav Bar -->
<p><h3>Python Interface</h3></p>
<li><a href="#intro">Introduction</a></li>
<li><a href="#python_prog_env">Python Environment</a></li>
<li><a href="#console">Python Console</a>
  <ul class="nav nav-stacked">
    <li><a href="#console_mode">Console Mode</a></li>
    <li><a href="#text_edit_mode">Text Edit Mode</a></li>
  </ul>	
<li><a href="#python_shell">Python Shell</a>
<li><a href="#sv_modules">SimVascular Python Modules</a>
  <ul class="nav nav-stacked">
    <li><a href="#projects">SimVascular Projects</a></li>
    <li><a href="#help">Interactive Help</a></li>
    <li><a href="#function_arguments">Function Arguments</a></li>
    <li><a href="#error_handling">Error Handling</a></li>
    <li><a href="#dmg_module">Dmg Module</a></li>
    <li><a href="#geometry_module">Geometry Module</a></li>
    <li><a href="#meshing_module">Meshing Module</a></li>
    <li><a href="#modeling_module">Modeling Module</a></li>
    <li><a href="#path_planning_module">Path Planning Module</a></li>
    <li><a href="#segmentation_module">Segmentation Module</a></li>
    <li><a href="#vmtk_module">Vmtk Module</a></li>
  </ul>	
</li>


