<!--Nav Bar -->
<p><h3>Getting Started</h3></p>

<li><a href="#intro">Introduction</a>
  <ul class="nav nav-stacked">
      <li><a href="#intro_pipeline">Modeling Pipeline</a></li>
      <li><a href="#intro_tools">Tools</a></li>
      <li><a href="#intro_projects">Projects</a></li>
      <li><a href="#intro_mitk">MITK Framework</a></li>
  </ul>                
</li>

<li><a href="#gui_intro">Graphical User Interface</a>
  <ul class="nav nav-stacked">
      <li><a href="#menubar">MenuBar</a></li>
      <li><a href="#toolbar">ToolBar</a></li>
      <li><a href="#gui_display">Display</a></li>
      <li><a href="#image_windowing">Image Windowing</a></li>
      <li><a href="#gui_data_manager">Data Manager</a></li>
      <li><a href="#gui_tool_panel">Tool Panel</a></li>
      <li><a href="#gui_image_navigator">Image Navigator</a></li>
  </ul>                
</li>

<li><a href="#tutorial">Tutorial</a>
  <ul class="nav nav-stacked">
      <li><a href="#path">Creating a Path</a></li>
      <li><a href="#segmentation">2D Segmentation</a></li>
      <li><a href="#modeling">Geometric Modelling</a>
      <li><a href="#meshing">Meshing</a>
      <li><a href="#simulation">Simulation</a></li>
      <li><a href="#results">Visualizing Results</a></li>
  </ul>                
</li>

<h3>Download</h3>
<a href="https://simtk.org/frs/download_confirm.php/file/5113/DemoProject.zip?group_id=930">Demo Project</a>
