<!--Nav Bar -->
<p><h3>Getting Started</h3></p>

<li><a href="#intro">Introduction</a>
  <ul class="nav nav-stacked">
      <li><a href="#intro_pipeline">Modeling Pipeline</a></li>
      <li><a href="#intro_tools">Tools</a></li>
      <li><a href="#intro_projects">Projects</a></li>
      <li><a href="#intro_mitk">MITK Framework</a></li>
  </ul>                
</li>

<li><a href="#gui_intro">Graphical User Interface</a>
  <ul class="nav nav-stacked">
      <li><a href="#menubar">MenuBar</a></li>
      <li><a href="#toolbar">ToolBar</a></li>
      <li><a href="#gui_display">Display</a></li>
      <li><a href="#image_windowing">Image Windowing</a></li>
      <li><a href="#gui_data_manager">Data Manager</a></li>
      <li><a href="#gui_tool_panel">Tool Panel</a></li>
      <li><a href="#gui_image_navigator">Image Navigator</a></li>
  </ul>                
</li>

<li><a href="#tutorial_intro">Tutorial</a>
  <ul class="nav nav-stacked">
      <li><a href="#tutorial_starting_simvascular">Starting SimVascular</a></li>
      <li><a href="#tutorial_create_project">Create a Project</a></li>
      <li><a href="#tutorial_add_image_data">Add Image Data</a></li>
      <li><a href="#tutorial_create_paths">Create Vessel Paths</a></li>
      <li><a href="#tutorial_create_segmentations">Create Segmentations</a></li>
      <li><a href="#tutorial_create_solid_model">Create Solid Model</a></li>
      <li><a href="#tutorial_create_finite_element_mesh">Create Finite Element Mesh</a></li>
      <li><a href="#tutorial_create_simulation">Create CFD Simulation</a></li>
      <li><a href="#tutorial_summary">Summary</a></li>
  </ul>                
</li>

<h3>Downloads</h3>
<a href="https://simtk.org/frs/download_confirm.php/file/5113/DemoProject.zip?group_id=930">Demo Project</a>
<br>
<a href="https://simtk.org/frs/download_confirm.php/latestzip/2256/SimVascularTutorialProject-latest.zip?group_id=930">Tutorial</a>
