 <!--Nav Bar -->
 <p><h3>References</h3></p>
 <li><a href="#refSec1">Overview</a></li>
 <li><a href="#refSec2">Boundary Conditions</a></li>
 <li><a href="#refSec3">Linear Solver</a></li>            
 <li><a href="#refSec4">Meshing</a></li>
 <li><a href="#refSec5">Validation</a></li>
 <li><a href="#refSec6">Clinical Applications</a></li>
 <li><a href="#refSec7">Other Contributors</a></li>
  

