<!--Nav Bar -->
<p><h3>svFSI Guide</h3></p>
<li><a href="#intro">Introduction</a></li>
<li><a href="#feature">Main features</a></li>
<li><a href="#input">Input file format</a></li>
<li><a href="#mesh">Mesh format</a></li>
<li><a href="#run">Run simulaiton</a></li>
<li><a href="#resource">Resources</a></li>
<li><a href="#install">Installation</a>
  <ul class="nav nav-stacked">
    <li><a href="#installer">Precompiled installer</a></li>
    <li><a href="#container">Docker container</a></li>
    <li><a href="#source">Build from source</a></li>
  </ul>
</li>