<!-- About Section -->
<section id="about" class="container content-section text-left">
    <div class="row">
        <div class="col-lg-9">
          <h2>About SimVascular</h2>
          <!-- Description -->
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="img/photo1.jpg" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Description</h4>
              This project is an open source release of tools for cardiovascular simulation. It includes code for reading 3D images, segmenting structures, generating models and meshes, and modeling blood flow in deformable vessels. Commercial components have been used in the model construction, mesh generation and flow solver components. The SimVascular project is derived from the ASPIRE2 software project and includes modified portions of PHASTA from RPI/SCOREC.
            </div>
          </div>
          <!-- Purpose/Synopsis -->
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="img/photo2.jpg" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Purpose/Synopsis</h4>
              Provides a platform for patient-specific cardiovascular modeling and simulation.
            </div>
          </div>
          <!-- Audience -->
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="img/photo3.jpg" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Audience</h4>
              Biomedical researchers interested in Cardiovascular Dynamics, which includes simulations of blood flow as well as vessel dynamics.
            </div>
          </div>
          <!-- Long Term Goals and Related Uses -->
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="img/photo4.jpg" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Long Term Goals and Related Uses</h4>
              Allow researchers to go from medical imaging data to hemodynamic (blood flow) simulation results for patient specific models. The application, which integrates custom open-source code and best-in-class commercial components, includes an integrated flow solver with special outflow boundary conditions and fluid-structure interaction capabilities.
            </div>
          </div>
        </div>
        <!-- NEWS -->
        <div class="col-lg-3">
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
              <h4>News...</h4>
              <h5><a href="./documentation/docs.html">News Archive</a></h5>
            </div>
            <div class="panel-body">
            <p class="newstext">
              <b>30 September 2004</b><br>
              Simascular 2.0 released available!<br>
            </p>
            </div>
          </div>
        </div>
    </div>


    <div class="row text-left voffset5">
      <div class="col-lg-12">
      <h2>Main Features</h2>
       <div class="panel-group" id="accordion">
<div class="panel panel-success">
<div class="panel-heading">
  <h4 class="panel-title">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
      Competely Opensource
    </a>
  </h4>
</div>
<div id="collapseOne" class="panel-collapse collapse in">
  <div class="panel-body">
    <p class="newstext">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    </p>
  </div>
</div>
</div>
<div class="panel panel-success">
<div class="panel-heading">
  <h4 class="panel-title">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
      Two- and Three- Dimensional Segmentation algorithms
    </a>
  </h4>
</div>
<div id="collapseTwo" class="panel-collapse collapse">
  <div class="panel-body">
    <p class="newstext">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    </p>
  </div>
</div>
</div>
<div class="panel panel-success">
<div class="panel-heading">
  <h4 class="panel-title">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
      From Images to Simulation Results
    </a>
  </h4>
</div>
<div id="collapseThree" class="panel-collapse collapse">
  <div class="panel-body">
    <p class="newstext">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    </p>
    <img class="media-object" width="200pt" src="img/testModel.jpg" alt="...">
  </div>
</div>
</div>
</div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-lg-12">
        <a href="#download" class="btn btn-circle page-scroll">
          <i class="fa fa-angle-double-down animated"></i>
        </a>
      </div>
    </div>
</section>
