<!-- About Section 1 -->
<section id="about" class="container content-section text-left">
    <div class="row">
        <div class="col-lg-9">
          <h2>About SimVascular</h2>
          <!-- Description -->
          <div class="media">
            <a class="pull-left">
              <img class="media-object" width="60" src="img/Img_About_Coro.png" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Description</h4>
              SimVascular is an open source software suite for cardiovascular simulation, providing a complete pipeline from medical image data to 3D model construction, meshing, and blood flow simulation.  SimVacular represents the state of the art in cardiovascular simulation, including advanced tools for physiologic boundary conditions, fluid structure interaction, and an accurate and efficient finite element Navier-Stokes solver.  SimVascular integrates custom code with best-in-class open source packages to support clinical and basic science research.
            </div>
          </div>
          <!-- Origins -->
          <div class="media">
            <a class="pull-left">
              <img class="media-object" width="55" src="img/Img_About_Femoral.png" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Origins</h4>
              SimVascular originated in the lab of Charles Taylor at Stanford University, and incorporates flow solver code from the PHASTA project (SCOREC at RPI). The SimVascular revitalization project now aims to provide the first truly open source package for cardiovascular simulation with enhanced functionality for clinical and basic science research. SimVascular is now developed and maintained by an active international group of researchers in academia and industry.
            </div>
          </div>
          <!-- Purpose/Synopsis -->
          <div class="media">
            <a class="pull-left">
              <img class="media-object" src="img/Img_About_CHD.png" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Purpose</h4>
              To provide a platform for patient-specific cardiovascular modeling and simulation that enables advances in cardiovascular disease through basic science and clinical research.
            </div>
          </div>
          <!-- Audience -->
          <div class="media">
            <a class="pull-left">
              <img class="media-object" src="img/Img_About_Pulm.png" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Audience</h4>
              Biomedical and clinical researchers interested in medical computing, cardiovascular hemodynamics and biomechanics, including medical image segmentation, patient specific model construction, blood flow simulations, vessel biomechanics, and finite element flow simulations.
            </div>
          </div>
          <!-- Broader Uses -->
          <div class="media">
            <a class="pull-left">
              <img class="media-object" src="img/Img_About_Aorta.png" alt="...">
            </a>

            <div class="media-body">
              <h4 class="media-heading">Broader Uses</h4>
              Beyond hemodynamics simulations, SimVascular has been used in simulations of medical devices, respiratory flows, and cardiac development.  SimVascular provides a full Navier-Stokes flow solver for complex geometries that can be flexibly applied across a wide range of problems in engineering and medicine.
              <h4 class="media-heading top-buffer-md">Funding Sources</h4>
              The SimVascular project is funded by the NSF SSI program under Program Officers Dan Katz (ACI) and Sumanta Acharya (CBET)
            </div>
                            
          </div>

          <h2 class="top-buffer">What's New?</h2>
          
          <!-- DESCRIPTION -->
          <div class="media">
            <a class="pull-left">
              <img class="media-object" src="img/Img_About_Coro.png" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">New features in SimVascular 2.0</h4>
              <ul>
              <li>Replacement of all prior commercial components</li>
              <li>Opensource meshing tools with adaption</li>
              <li>Efficient linear solver customized for blood flow</li>
              <li>Solid modeling Boolean operations</li>
              <li>Multiscale modelling capabilities</li>
              <li>Coronary boundary conditions</li>
              <li>Improved image segmentation tools</li>
              <li>Backflow stabilization</li>
              </ul>
            </div>
          </div>

        </div>

        <!-- LOGOS AND TWITTER -->
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-3 top-buffer text-left">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-buffer-small text-left">
            <a href="https://www.facebook.com/groups/835227759855853/"><img class="media-object" src="img/logos/fb.png" style="float: left; margin-right: 5px; height:35px;" alt="..."></a>
            <!-- 
            <img class="media-object" src="img/logos/gp.png" style="float: left; margin-right: 5px; height:35px;" alt="...">
            <img class="media-object" src="img/logos/linkedin.png" style="float: left; margin-right: 5px; height:35px;" alt="...">          
            -->
            <a href="https://www.youtube.com/channel/UCT61XgTRqpfb39Hyio9IqGQ"><img class="media-object" src="img/logos/ut.png" style="float: left; margin-right: 5px; height:35px;" alt=""></a>  
          </div>

          <!-- TWITTER TIMELINE -->
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left top-buffer-small">
            <a class="twitter-timeline" href="https://twitter.com/simvascular" data-widget-id="514211820307886080">Tweets by @simvascular</a>        
          </div>

          <!-- FB/GP LIKE BUTTONS -->
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-buffer-small text-left bottom-buffer-small">
            <div class="g-plusone"></div>  
            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>    
          </div>

        </div>        
    </div>
</section>
