<!-- About Section -->
<section id="about" class="container content-section text-left">

    <div class="row">
        <div class="col-lg-9">
          <h2>About SimVascular</h2>
          <!-- Description -->
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="img/Img_About_Coro.png" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Description</h4>
              This project is an open source release of tools for cardiovascular simulation. It includes software for loading and viewing medical image data, segmenting vascular anatomy, generating 3D patient specific models and meshes, and modeling blood flow in deformable vessels. The SimVascular originated in the lab of Charles Taylor at Stanford University, and is now maintained by an active community of domestic and international academic and industrial researchers. The project is part of the Stanford Simbios Center hosted on simtk.org. The SimVascular revitalization project, started in 2013 by Alison Marsden, Shawn Shadden and Nathan Wilson, aims to provide the first truly open source package for cardiovascular simulation with enhanced funcationality for both clinical and basic science research.
            </div>
          </div>
          <!-- Purpose/Synopsis -->
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="img/Img_About_Femoral.png" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Purpose</h4>
              Provides a platform for patient-specific cardiovascular modeling and simulation to support research and clinical efforts in medical computing. SimVascular represents the state of the art in the CV simulation community, including advanced tools for physiologic boundary conditions, fluid structure interaction (FSI), and an accurate and efficient finite element flow solver.
            </div>
          </div>
          <!-- Audience -->
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="img/Img_About_Pulm.png" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Audience</h4>
              Biomedical and clinical researchers interested in Cardiovascular Hemodynamics and Biomechanics, including medical image segmentation, patient specific model construction, blood flow simulations, and vessel dynamics.  
            </div>
          </div>
          <!-- Long Term Goals and Related Uses -->
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="img/Img_About_Aorta.png" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Long Term Goals and Related Uses</h4>
              Allow researchers to go from medical imaging data to hemodynamic (blood flow) simulation results for patient specific models. The application, which integrates custom open-source code and best-in-class open source packages, includes an integrated flow solver with special outflow boundary conditions and fluid-structure interaction capabilities. This package has also been applied in simulations of medical devices, respiratory flows, and cardiac development.
            </div>
          </div>


          <h2 class="top-buffer">What's New?</h2>
          <!-- Description -->
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="img/Img_About_Coro.png" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading">New features in SimVascular 2.0</h4>
              <ul>
              <li>Opensource meshing tools with adaption</li>
              <li>Multiscale Modelling</li>
              </ul>             
            </div>
          </div>




        </div>
        <!-- NEWS -->
        <div class="col-xs-12 col-lg-3 top-buffer text-center">


        <a class="twitter-timeline" href="https://twitter.com/twitter" data-widget-id="513084378067369984">Tweets by @twitter</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>

</section>
