<!-- Contact Section -->
<section id="contact" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact us</h2>
                <h4>We are very interested in your feedback and comments.</h4>

                <form class="form-horizontal" role="form">

                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                      <input type="name" class="form-control" id="inputEmail3" placeholder="Name">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                  </div>

                  <div class="form-group">
                    <textarea class="form-control" rows="5" placeholder="Leave us a comment..."></textarea>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-info">Send Comment</button>
                    </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
</section>
