<!-- Documentation Section -->
<section id="docs" class="container content-section text-left">
    <div class="row">
        <div class="col-lg-12">
            <h2>SimVascular Documentation</h2>
              <div class="row">
                <div class="col-lg-3">
                  <div class="panel panel-info">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                      <h4>Model Building</h4>
                      <h5><a href="./docs.html">HTML</a> | PDF</h5>
                    </div>
                    <div class="panel-body">
                      <p class="newstext">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="panel panel-info">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                      <h4>Meshing</h4>
                      <h5><a href="../docs.html">HTML</a> | PDF</h5>
                    </div>
                    <div class="panel-body">
                      <p class="newstext">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                      </p>
                    </div>
                  </div>

                </div>
                <div class="col-lg-3">
                  <div class="panel panel-info">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                      <h4>Presolver</h4>
                      <h5><a href="./docs.html">HTML</a> | PDF</h5>
                    </div>
                    <div class="panel-body">
                      <p class="newstext">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                      </p>
                    </div>
                  </div>

                </div>
                <div class="col-lg-3">
                  <div class="panel panel-info">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                      <h4>FlowSolver</h4>
                      <h5><a href="./docs.html">HTML</a> | PDF</h5>
                    </div>
                    <div class="panel-body">
                      <p class="newstext">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                      </p>
                    </div>
                  </div>

                </div>

            </div>
        </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-12">
        <a href="#repository" class="btn btn-circle page-scroll">
          <i class="fa fa-angle-double-down animated"></i>
        </a>
      </div>
    </div>
</section>
