<!-- Documentation Section -->
<section id="docs" class="container content-section text-left">
  <div class="row">
    <div class="col-lg-12">
      <h2>SimVascular Documentation</h2>
        <div class="row">

          <!-- Getting Started -->                
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 top-buffer">
            <!-- Description -->
            <div class="media">
              <!-- <a class="pull-left" href="#">
                <img class="media-object" src="img/Img_About_Coro.png" alt="...">
              </a> -->
              <div class="centreDoc" style="height:100px;">
                <img src="img/docs/header_img_08.png" alt="...">
              </div><br>
              <div class="media-body">
                <h4 class="media-heading text-center">Getting Started</h4><br>
                <h6 class="media-heading"><a href="docsInstallation.html">Installing SimVascular</a></h6>
                Install SimVascular on your system.<br><br>
                <h6 class="media-heading"><a href="docsCompile.html">Compile Sources</a></h6>
                Compile SimVascular source code on your system.<br><br>
                <h6 class="media-heading"><a href="docsCodeSnippets.html">Code snippets</a></h6>
                Unleash the power of SimVascular with console scripts.<br><br>
                <h6 class="media-heading"><a href="http://simvascular.ucsd.edu/CDash/">SimVascular CDash board</a></h6>
                SimVascular automated software testing.<br><br>
                <h6 class="media-heading"><a href="docsQuickGuide.html">Quick Guide</a></h6>
                A quick intro on how to use the main functionalities in SimVascular.<br><br>
                <h6 class="media-heading"><a>Doxygen Docs</a></h6>
                Understand the SimVascular source code. Doxygen documentation for <a href="comingSoon.html">c++</a>, <a href="comingSoon.html">tcl</a> and <a href="comingSoon.html">fortran</a> code (documentation work in progress...).<br><br>
              </div>
            </div>            
          </div>

          <!-- Guide Description -->
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 top-buffer"> 
            <!-- Description -->                       
            <div class="media">
              <!-- <a class="pull-left" href="#">
                <img class="media-object" src="img/Img_Docs_ModelBuild.png" alt="...">
              </a> -->
              <div class="centreDoc" style="height:100px;">
                <img src="img/docs/header_img_07.png" alt="...">
              </div><br>
              <div class="media-body">
                <h4 class="media-heading text-center">User Guides</h4><br>
                <h6 class="media-heading"><a href="docsImageGuide.html">Image Guide</a></h6>
                How to manipulate clinical image data in SimVascular.<br><br>
                <h6 class="media-heading"><a href="docsModelGuide.html">Model Building Guide</a></h6>
                Walks you through how to build a cardiovascular model from image data.<br><br>
                <h6 class="media-heading"><a href="docsMeshing.html">Meshing Guide</a></h6>
                Basic and advanced meshing and model editing in SimVascular.<br><br>
                <h6 class="media-heading"><a href="docsPresolver.html">svPre Guide</a></h6>
                Shows you the commands to create solver files.<br><br>
                <h6 class="media-heading"><a href="docsFlowSolver.html">svSolver Guide</a></h6>
                Walks you through the process of generating hemodynamic result from an stl file.<br><br>
                <h6 class="media-heading"><a href="docsRefs.html">References</a></h6>
                Articles in the literature relevant for the SimVascular project.<br><br>    
              </div>
            </div>                  
          </div>
                
          <!-- Clinical Test Cases -->                
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 top-buffer">
            <!-- Description -->
            <div class="media">
              <!-- <a class="pull-left" href="#">
                <img class="media-object" src="img/Img_About_Coro.png" alt="...">
              </a> -->
              <div class="centreDoc" style="height:100px;">
                <img src="img/docs/header_img_03.png" alt="...">
              </div><br>              
              <div class="media-body">
                <h4 class="media-heading text-center">Clinical Case Studies</h4><br>
                <h6 class="media-heading"><a href="clinicalCase1.html">Aortofemoral Normal - Case 1</a></h6>
                From the supraceliac aorta to the femoral and profunda femoris artery bifurcation.<br><br>
                <h6 class="media-heading"><a href="clinicalCase2.html">Aortofemoral Normal - Case 2</a></h6>
                From the thoracic aorta to the femoral arteries.<br><br>
                <h6 class="media-heading"><a href="clinicalCase3.html">Coronary Normal - Case 3</a></h6>
                The ascending aorta ostium and the left and right coronary arteries.<br><br>
                <h6 class="media-heading"><a href="clinicalCase4.html">Healthy Pulmonary - Case 4</a></h6>
                From the main pulmonary artery to various levels of branching in the left and right pulmonary arteries.<br><br>
              </div>
            </div>            
          </div>

          <!-- Clinical Test Cases -->                
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 top-buffer">
            <!-- Description -->
            <div class="media">
              <!-- <a class="pull-left" href="#">
                <img class="media-object" src="img/Img_About_Coro.png" alt="...">
              </a> -->
              <div class="centreDoc" style="height:100px;">
                <img src="img/docs/header_img_06.png" alt="...">
              </div><br>   
              <div class="media-body">
                <h4 class="media-heading text-center">svCommunity</h4><br>
                <h6 class="media-heading"><a href="https://simtk.org/forums/viewforum.php?f=188">SimVascular Public Forum</a></h6>
                Interact with other SimVascular users.<br><br>
                <h6 class="media-heading"><a>News Mailing List</a></h6>
                <h6 class="media-heading"><a href="https://simtk.org/mailman/listinfo/simvascular-news">Sign up</a> - <a href="https://simtk.org/pipermail/simvascular-news/">Archive</a></h6>
                Announcements and latest news about SimVascular.<br><br>
                <h6 class="media-heading"><a>Users Mailing List</a></h6>
                <h6 class="media-heading"><a href="https://simtk.org/mailman/listinfo/simvascular-users">Sign up</a> - <a href="http://simvascular-users.40599.n7.nabble.com/">Archive</a></h6>
                Join the SimVascular user mailing list and let us know what you think.<br><br>
                <h6 class="media-heading"><a href="https://simtk.org/tracker/?group_id=188">Suggest new features or report bugs</a></h6>
                Help us to improve SimVascular.<br><br>  
                <h6 class="media-heading"><a href="https://www.youtube.com/channel/UCT61XgTRqpfb39Hyio9IqGQ">Youtube Tutorials</a></h6>
                Follow our Youtube channel for video tutorials.<br><br>
              </div>
            </div>            
          </div>

        </div>
      </div>
    </div>
</section>
