<!-- Documentation Section -->
<section id="docs" class="container content-section text-left">
  <div class="row">
    <div class="col-lg-12">
      <h2>SimVascular Documentation</h2>
        <div class="row">

          <!-- User Guides -->
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 top-buffer"> 
            <!-- Description -->                       
            <div class="media">
              <!-- <a class="pull-left" href="#">
                <img class="media-object" src="img/Img_Docs_ModelBuild.png" alt="...">
              </a> -->
              <div class="centreDoc" style="height:100px;">
                <img src="img/docs/header_img_07.png" alt="...">
              </div><br>
              <div class="media-body">
                 <h4 class="media-heading text-center">User Guides</h4><br>
		 <h6 class="media-heading text-center"><a href="docsInstallation.html">Installing SimVascular</a></h6><br>
		 <h6 class="media-heading text-center"><a href="docsQuickGuide.html">Quick Guide</a></h6><br>
		 <h6 class="media-heading text-center"><a href="docsModelGuide.html">Modeling Guide</a></h6><br>
		 <h6 class="media-heading text-center"><a href="docsMeshing.html">Meshing Guide</a></h6><br>
		 <h6 class="media-heading text-center"><a href="docsFlowSolver.html">Simulation Guide</a></h6>
              </div>
            </div>                  
          </div>

          <!-- Clinical Test Cases -->                
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 top-buffer">
            <!-- Description -->
            <div class="media">
              <!-- <a class="pull-left" href="#">
                <img class="media-object" src="img/Img_About_Coro.png" alt="...">
              </a> -->
              <div class="centreDoc" style="height:100px;">
                <img src="img/docs/header_img_03.png" alt="...">
              </div><br>              
              <div class="media-body">
                <h4 class="media-heading text-center">Clinical Case Studies</h4><br>
                <h6 class="media-heading text-center"><a href="clinicalCase3.html">Coronary Normal</a></h6><br>
                <h6 class="media-heading text-center"><a href="clinicalCase1.html">Aortofemoral Normal - 1</a></h6><br>
                <h6 class="media-heading text-center"><a href="clinicalCase2.html">Aortofemoral Normal - 2</a></h6><br>
                <h6 class="media-heading text-center"><a href="clinicalCase4.html">Healthy Pulmonary</a></h6>
              </div>
            </div>            
          </div>

          <!-- Developer Guides -->                
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 top-buffer">
            <!-- Description -->
            <div class="media">
              <!-- <a class="pull-left" href="#">
                <img class="media-object" src="img/Img_About_Coro.png" alt="...">
              </a> -->
              <div class="centreDoc" style="height:100px;">
                <img src="img/docs/header_img_08.png" alt="...">
              </div><br>
              <div class="media-body">
                <h4 class="media-heading text-center">Developer Guides</h4><br>
                <h6 class="media-heading text-center"><a href="docsCompile.html">Compile Sources</a></h6><br>
                <h6 class="media-heading text-center"><a href="docsCodeSnippets.html">Code snippets</a></h6><br>
              </div>
            </div>            
          </div>
                
          <!-- SV Community -->                
          <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 top-buffer">-->
            <!-- Description -->
            <!--<div class="media">-->
              <!-- <a class="pull-left" href="#">
                <img class="media-object" src="img/Img_About_Coro.png" alt="...">
              </a> -->
              <!--<div class="centreDoc" style="height:100px;">
                <img src="img/docs/header_img_06.png" alt="...">
              </div><br>   
              <div class="media-body">
                <h4 class="media-heading text-center">svCommunity</h4><br>
                <h6 class="media-heading"><a href="https://simtk.org/forums/viewforum.php?f=188">SimVascular Public Forum</a></h6>
                Interact with other SimVascular users.<br><br>
                <h6 class="media-heading"><a>News Mailing List</a></h6>
                <h6 class="media-heading"><a href="https://simtk.org/mailman/listinfo/simvascular-news">Sign up</a> - <a href="https://simtk.org/pipermail/simvascular-news/">Archive</a></h6>
                Announcements and latest news about SimVascular.<br><br>
                <h6 class="media-heading"><a>Users Mailing List</a></h6>
                <h6 class="media-heading"><a href="https://simtk.org/mailman/listinfo/simvascular-users">Sign up</a> - <a href="http://simvascular-users.40599.n7.nabble.com/">Archive</a></h6>
                Join the SimVascular user mailing list and let us know what you think.<br><br>
                <h6 class="media-heading"><a href="https://simtk.org/tracker/?group_id=188">Suggest new features or report bugs</a></h6>
                Help us to improve SimVascular.<br><br>  
              </div>
            </div>            
          </div> -->

        </div>
      </div>
    </div>
</section>
