<!-- Documentation Section -->
<section id="docs" class="container content-section text-left">
  <div class="row">
    <div class="col-lg-12">
      <h2>SimVascular Documentation</h2>
        <div class="row">
          <div class="col-lg-5 top-buffer">
            <!-- Guide Description -->
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="img/Img_Docs_ModelBuild.png" alt="...">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Software Guides</h4>
                <h6 class="media-heading">Quick Guide</h6>
                A Quick intro on how to use the main functionalities in SimVascular.<br><br>
                <h6 class="media-heading">Image Guide</h6>
                How to manipulate clinical image data in SimVascular.<br><br>
                <h6 class="media-heading">Model Building Guide</h6>
                Walks you through how to build a cardiovascular model from image data.<br><br>
                <h6 class="media-heading">Meshing Guide</h6>
                Basic and advanced meshing and model editing in SimVascular.<br><br>
                <h6 class="media-heading">svPre Guide</h6>
                Shows you the commands to create solver files.<br><br>
                <h6 class="media-heading">svSolver Guide</h6>
                Walks you through the process of generating hemodynamic result from an stl file.<br><br>
              </div>
            </div>

            <!-- Guide Button -->
            <div class="row">
              <div class="col-lg-12 text-center">
                <a href="docsQuickGuide.html" class="btn btn-info" role="button">Software Guide Site</a>
              </div>
            </div> 
                  
          </div>
                
          <!-- Clinical Test Cases -->                
          <div class="col-lg-5 top-buffer">
            <!-- Description -->
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="img/Img_About_Coro.png" alt="...">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Clinical Case Studies</h4>
                <h6 class="media-heading">Aortofemoral Normal - Case 1</h6>
                From the supraceliac aorta to the femoral and profunda femoris artery bifurcation.<br><br>
                <h6 class="media-heading">Aortofemoral Normal - Case 2</h6>
                From the thoracic aorta to the femoral arteries.<br><br>
                <h6 class="media-heading">Coronary Normal - Case 3</h6>
                The ascending aorta ostium and the left and right coronary arteries.<br><br>
                <h6 class="media-heading">Healthy Pulmonary - Case 4</h6>
                From the main pulmonary artery to various levels of branching in the left and right pulmonary arteries.<br><br>
              </div>
            </div>
            
            <!-- Button -->
            <div class="row">
              <div class="col-lg-12 text-center">
                <a href="clinicalCase1.html" class="btn btn-info" role="button">Clinical Case Study Site</a>
              </div>
            </div>                  

          </div>
        </div>
      </div>
    </div>
</section>
