<!-- Documentation Section -->
<section id="docs" class="container content-section text-left">
    <div class="row">
        <div class="col-lg-12">
            <h2>SimVascular Documentation</h2>
              <div class="row">
                <div class="col-lg-5 top-buffer">
                  <!-- Description -->
                  <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object" src="img/Img_Docs_ModelBuild.png" alt="...">
                  </a>
                  <div class="media-body">
                  <h4 class="media-heading">Software Guides</h4>
                  <h6 class="media-heading">Quick Guide</h6>
                  A walk through the typical functionalities of the software in creating models from medical image data.<br><br>
                  <h6 class="media-heading">Model Building</h6>
                  A walk through the typical functionalities of the software in creating models from medical image data.<br><br>
                  <h6 class="media-heading">Meshing</h6>
                  <h6 class="media-heading">svPre</h6>
                  Command and examples on how to preprocess meshed models with svPre.<br><br>
                  <h6 class="media-heading">svSolver</h6>
                  Command and examples on how to preprocess meshed models with svPre.<br><br>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 text-center">
                    <a href="docs.html" class="btn btn-info" role="button">Go to the Software Guide Site</a>
                    </div>
                  </div> 
                  
                </div>
                
                <div class="col-lg-5 top-buffer">
                  <!-- Description -->
                  <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object" src="img/Img_About_Coro.png" alt="...">
                  </a>
                  <div class="media-body">
                  <h4 class="media-heading">Clinical Case Studies</h4>
                  <h6 class="media-heading">Aortofemoral Normal - Case 1</h6>
                  A walk through the typical functionalities of the software in creating models from medical image data.<br><br>
                  <h6 class="media-heading">Aortofemoral Normal - Case 2</h6>
                  A walk through the typical functionalities of the software in creating models from medical image data.<br><br>
                  <h6 class="media-heading">Coronary Normal - Case 3</h6>
                  <h6 class="media-heading">Healthy Pulmonary - Case 4</h6>
                  Command and examples on how to preprocess meshed models with svPre.<br><br>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 text-center">
                    <a href="clinical.html" class="btn btn-info" role="button">Go to the Clinical Case Study Site</a>
                    </div>
                  </div>                  
            </div>
        </div>
    </div>
</section>
