<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="row">

      <div class="col-lg-12">
        <h2>Download SimVascular</h2>
        <label for="OS" class="control-label"><h5>OS</h5></label>
        <select class="selectpicker" id="OS" data-style="btn-primary">
          <option>Windows</option>
          <option>Linux</option>
          <option>Mac OSX</option>
        </select>
      </div>

      <div class="col-lg-12">
        <label for="version" class="control-label"><h5>Release</h5></label>
        <select class="selectpicker" id="version" data-style="btn-primary">
          <option value="19">1.9</option>
          <option value="20">2.0</option>
          <option value="21">2.1</option>
        </select>
      </div>
            
      <div class="col-lg-12">
        <h4><span class="glyphicon glyphicon-user"></span> Users: download installer packages</h4>
        <div class="form-group">
          <button class="btn btn-info">Download</button>
        </div>
      </div>

      <div class="col-lg-12 top-buffer">
        <h4><span class="glyphicon glyphicon-cog"></span> Developers: visit our source code repository</h4>
        <div class="form-group">
         <a href="https://simtk.org/scm/?group_id=188" class="btn btn-info" role="button">Source Code Repository</a>
        </div>
      </div>
    </div>

<div class="row justifiedText">
  <div class="col-xs-1 col-lg-3">
  </div>
  <div class="col-xs-10 col-lg-6">
    <!-- Description -->
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">Licence Terms</h4>
        <p class="LegalStuff">
        Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in  the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:<br>
        <br>
        The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.<br>
        <br>
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
        </p>
        <h4 class="media-heading top-margin">Other Brands</h4>
        <p class="LegalStuff">
        Meshsim is a registered tramark of bla bla bla....
        </p>
      </div>
    </div>
  </div>
</div>
</section>


