<!-- Download Section -->
<section id="download" class="content-section text-center">

  <!-- Download Instructions -->
  <div class="row">
    
    <div class="col-lg-12">
      <h2>Download SimVascular</h2>

        <!-- Choose OS and RELEASE -->
        <!-- <label for="OS" class="control-label"><h5>OS</h5></label>
        <select class="selectpicker" id="OS" data-style="btn-primary">
          <option>Windows</option>
          <option>Linux</option>
          <option>Mac OSX</option>
        </select>

        <label for="version" class="control-label"><h5>Release</h5></label>
        <select class="selectpicker" id="version" data-style="btn-primary">
          <option value="19">1.9</option>
          <option value="20">2.0</option>
          <option value="21">2.1</option>
        </select>-->
            
      <div class="col-lg-12">
        <h4><span class="glyphicon glyphicon-user"></span> Users: download installer packages</h4>
        <div class="form-group">
          <a href="https://simtk.org/project/xml/downloads.xml?group_id=188" class="btn btn-info" role="button">Download Installation Package</a>
        </div>
      </div>

      <div class="col-lg-12 top-buffer">
        <h4><span class="glyphicon glyphicon-cog"></span> Developers: visit our source code repository</h4>
        <div class="form-group">
         <a href="https://github.com/SimVascular/SimVascular" class="btn btn-info" role="button">Source Code Repository</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Licence -->
  <div class="row">
    
    <!-- Column Space -->
    <div class="col-xs-1 col-lg-3">
    </div>

    <!-- Description -->
    <div class="col-xs-10 col-lg-6 top-buffer">
      <div class="media">
        <h4 class="media-heading centerTitleText"><a class="expander" href="#">License Terms</a></h4>
          <div class="media-body">          
          <div class="content BioPar justifiedText">
            <h6 class="media-heading text-Left top-buffer">SimVascular components svModel, svMesh, svPre, and svPost are provided under the full BSD license subject to the terms below:</h6>
            <p class="LegalStuff">
              Copyright &copy; 1998-2007 Stanford University, Charles Taylor, Nathan Wilson, Ken Wang. See SimVascular Acknowledgements file for additional contributors to the source code.
              <br>
              <br>
              Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
              <br>
              <br>
              The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
              <br>
              <br>
              THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
            </p>
            <h6 class="media-heading text-Left">The SimVascular solver, including svSolver and svLS, is provided under a modified BSD-license subject to the permissions below:</h6>
            <p class="LegalStuff">
              This software is Copyright &copy; 2014 The Regents of the University of California. All Rights Reserved.
              Permission to copy, modify, and distribute this software and its documentation for educational, research and non-profit purposes, without fee, and without a  written agreement is hereby granted, provided that the above copyright notice, this paragraph and the following three paragraphs appear in all copies.
              <br>
              <br>
              Permission to make commercial use of this software may be obtained by contacting:
              <br> 
              <br>
              Technology Transfer Office<br>
              9500 Gilman Drive, Mail Code 0910<br>
              University of California<br>
              La Jolla, CA 92093-0910<br>
              (858) 534-5815<br>
              invent@ucsd.edu
              <br>
              <br>
              This software program and documentation are copyrighted by The Regents of the University of California. The software program and documentation are supplied "as is", without any accompanying services from The Regents. The Regents does not warrant that the operation of the program will be uninterrupted or error-free. The end-user understands that the program was developed for research purposes and is advised not to rely exclusively on the program for any reason.
              <br>
              <br>
              IN NO EVENT SHALL THE UNIVERSITY OF CALIFORNIA BE LIABLE TO ANY PARTY FOR DIRECT, INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, ARISING OUT OF THE USE OF THIS SOFTWARE AND ITS DOCUMENTATION, EVEN IF THE UNIVERSITY OF CALIFORNIA HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. THE  UNIVERSITY OF CALIFORNIA SPECIFICALLY DISCLAIMS ANY WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. THE SOFTWARE PROVIDED HEREUNDER IS ON AN "AS IS" BASIS, AND THE UNIVERSITY OF CALIFORNIA HAS NO OBLIGATIONS TO PROVIDE MAINTENANCE, SUPPORT, UPDATES, ENHANCEMENTS, OR MODIFICATIONS.
            </p>
            <h6 class="media-heading text-Left">Licensing terms for external open source packages</h6>
            <p class="LegalStuff">
              ITK: <a href="http://www.itk.org/ITK/project/license.html">http://www.itk.org/ITK/project/license.html</a><br>
              VTK: <a href="http://www.vtk.org/VTK/project/license.html">http://www.vtk.org/VTK/project/license.html</a><br> 
              Tetgen: <a href="http://wias-berlin.de/software/tetgen/1.5/agpl-3.0-standalone.html">http://wias-berlin.de/software/tetgen/1.5/agpl-3.0-standalone.html</a><br>
            </p>
            <h6 class="media-heading text-Left">Commercial components</h6>
            <p class="LegalStuff">
              MeshSim users should contact simmetrix for licensing information. 
            </p>
            <h6 class="media-heading text-Left">Additional license information</h6>
            <p class="LegalStuff">
              Please see the additional license information contained in the SimVascular source code.
            </p>
          </div>          
        </div>
      </div>
    </div>
  </div>
</section>


