<!-- Contact Section -->
<section id="gallery" class="container content-section text-left">
  <div class="row">
    <div class="col-lg-7 text-left top-buffer"> 
      <h2>Gallery</h2>
      <h4>Picture Gallery</h4>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

          <div class="item active">         
            <img src="img/gallery/Img_Gallery_01.png" alt="...">
            <div class="carousel-caption">
              <h5>Blood flow in CABG simulation</h5>
            </div>
          </div>

          <div class="item">
            <img src="img/gallery/Img_Gallery_02.png" alt="...">
            <div class="carousel-caption">
              <h5>Blood velocity distribution in CABG simulation</h5>
            </div>
          </div>

          <div class="item">
            <img src="img/gallery/Img_Gallery_03.png" alt="...">
            <div class="carousel-caption">
              <h5>Blood velocity in coronary aneurism</h5>
            </div>
          </div>

          <div class="item">
            <img src="img/gallery/Img_Gallery_04.png" alt="...">
            <div class="carousel-caption">
              <h5>hemi-Fontan cavopulmonary connection</h5>
            </div>
          </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>  
    </div>


    <div class="col-lg-5 text-left top-buffer">

      <h4>Animation Gallery</h4>
      <video loop id="div_video" class="video-js vjs-default-skin  align-centre" controls preload="none" 
        poster="img/gallery/ani_CABG.png"
        width="640" height="264"
        data-setup="{}">  

        <source src="img/gallery/ani_CABG.mp4" type="video/mp4">
        <source src="img/gallery/ani_CABG.ogg" type="video/ogg">
        <source src="img/gallery/ani_CABG.webm" type="video/webm">

        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>

      </video>

      <h6>Choose Video</h6>
      <div class="col-xs-3 col-md-3 col-lg-3">
        <a id="CABG"  class="thumbnail thumBlack">          
          <img src="img/gallery/thumb_CABG.png" alt="...">
        </a>
      </div>
      
        <div class="col-xs-3 col-md-3 col-lg-3">
          <a id="SHUNT" class="thumbnail thumBlack">
            <img src="img/gallery/thumb_SHUNT.png" alt="...">
          </a>
        </div>
        <div class="col-xs-3 col-md-3 col-lg-3">
          <a id="YGRAFT" class="thumbnail thumBlack">
            <img src="img/gallery/thumb_YGRAFT.png" alt="...">
          </a>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12">
          <h5><a href ="https://www.youtube.com/channel/UCT61XgTRqpfb39Hyio9IqGQ">Follow us on youtube...</a></h5>
        </div>
    </div>
</div>
</section>
