<!-- Contact Section -->
<section id="gallery" class="content-section text-left">
    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-10">
        <h2>Gallery</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1">
      </div>


      <div class="col-lg-5 top-buffer">  
        <h4>Picture Gallery</h4>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

          <div class="item active">         
            <img src="img/gallery/Img_Gallery_01.png" alt="...">
            <div class="carousel-caption">
              <h5>Blood flow in CABG simulation</h5>
            </div>
          </div>

          <div class="item">
            <img src="img/gallery/Img_Gallery_02.png" alt="...">
            <div class="carousel-caption">
              <h5>Blood velocity distribution in CABG simulation</h5>
            </div>
          </div>

          <div class="item">
            <img src="img/gallery/Img_Gallery_03.png" alt="...">
            <div class="carousel-caption">
              <h5>Blood velocity in coronary aneurism</h5>
            </div>
          </div>

          <div class="item">
            <img src="img/gallery/Img_Gallery_04.png" alt="...">
            <div class="carousel-caption">
              <h5>hemi-Fontan cavopulmonary connection</h5>
            </div>
          </div>

          <div class="item">
            <img src="img/gallery/Img_Gallery_05.png" alt="...">
            <div class="carousel-caption">
              <h5>Creation of vessels paths and segmentations</h5>
            </div>
          </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
      
      </div>

    <div class="col-lg-5 text-left top-buffer">

      <h4>Animation Gallery</h4>
      <video id="example_video_1" class="video-js vjs-default-skin align-centre"
      controls preload="auto" width="640" height="264"
      poster="http://video-js.zencoder.com/oceans-clip.png"
      data-setup='{"example_option":true}'>



      <source src="img/gallery/Ani_01.mp4" type='video/mp4' />
      <source src="img/gallery/Ani_01.webm" type='video/webm' />
      <source src="img/gallery/Ani_01.ogg" type='video/ogg' />

      <!-- <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
      <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
      <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' /> -->
      <p clzss="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
      </video>


      <div class="row text-centre top-buffer">
        <div class="col-lg-3">
          <a href="#" class="thumbnail">
            <img data-src="holder.js/100%x180" alt="...">
          </a>
        </div>
        <div class="col-lg-3">
          <a href="#" class="thumbnail">
            <img data-src="holder.js/100%x180" alt="...">
          </a>
        </div>
        <div class="col-lg-3">
          <a href="#" class="thumbnail">
            <img data-src="holder.js/100%x180" alt="...">
          </a>
        </div>
      </div>

    </div>

    </div>
</section>
