<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container content-section text-center">
            <div class="row">
                <div class="col-lg-9 top-buffer">
                    <img id="svLogoTitle" src="img/svlogo/svLogoTitle.png" alt="..." >                
                    <p class="intro-text top-buffer">The only fully opensource software package providing a complete pipeline from medical image data segmentation to patient specific blood flow simulation and analysis.</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div>
                        <img id="svLogoTitle" src="img/logos/stanfordmedicine.png" style="float: left; margin-right: 45px; height:50px; width:150px;" alt="..." >
                        <img id="svLogoTitle" src="img/logos/ucberkeley.png" style="float: left; margin-right: 0px; height:50px; width:150px;" alt="..." >
                        <img id="svLogoTitle" src="img/logos/osmsc.png" style="float: left; margin-right: 35px; height:50px; width:150px;" alt="..." >
                        <img id="svLogoTitle" src="img/logos/nsf.jpg" style="float: left; margin-left: 25px; margin-right: 35px; height:50px; width:50px;" alt="..." >                
                        <img id="svLogoTitle" src="img/logos/simtk.png" style="float: left; height:45px; width:160px;" alt="..." >
                        <br>
                        <br>
                        <br>
                        <br>                        
                        <br>
                        <br>
                        <br>
                    </div>
                </div>

                        <!-- LOGOS AND TWITTER -->
                <div class="col-lg-3 top-buffer text-center top-buffer">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-buffer-small text-left">
                    <a href="https://www.facebook.com/groups/835227759855853/"><img class="media-object" src="img/logos/fb.png" style="float: left; margin-right: 5px; height:35px;" alt="..."></a>
                    <!-- 
                    <img class="media-object" src="img/logos/gp.png" style="float: left; margin-right: 5px; height:35px;" alt="...">
                    <img class="media-object" src="img/logos/linkedin.png" style="float: left; margin-right: 5px; height:35px;" alt="...">          
                    -->
                    <a href="https://www.youtube.com/channel/UCT61XgTRqpfb39Hyio9IqGQ"><img class="media-object" src="img/logos/ut.png" style="float: left; margin-right: 5px; height:35px;" alt=""></a>  
                  </div>

                  <!-- TWITTER TIMELINE -->
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left top-buffer-small">
                    <a class="twitter-timeline" href="https://twitter.com/simvascular" data-widget-id="514211820307886080">Tweets by @simvascular</a>        
                  </div>

                  <!-- FB/GP LIKE BUTTONS -->
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top-buffer-small text-left bottom-buffer-small">
                    <div class="g-plusone"></div>  
                    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>    
                  </div>

                </div>  

            </div>
        </div>
    </div>
</header>
