<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <img src="img/test_logo2.png" style="width:30%" alt="...">
                    <h1 class="brand-heading">SimVascular</h1>
                    <p class="intro-text">The only comprehensive opensource software package providing a complete pipeline from medical image data segmentation to patient specific blood flow simulation and analysis.</p>
                </div>
            </div>
        </div>
    </div>
</header>
