
<!-- Contact Section -->
<section id="onlinetutorials" class="container content-section text-left">

 <h2>Online Tutorials</h2>

 The <a href="https://www.youtube.com/channel/UCT61XgTRqpfb39Hyio9IqGQ"> SimVascular YouTube Channel </a> has a collection of
 videos on a variety of topics related to the use of the SimVascular suite of software applications.
 <br> <br>

 The <a href="https://www.youtube.com/playlist?list=PL1CBZ8Wh-xvSKUsuBA4MM4Jba-psVdxXT"> SimVascular Tutorial series</a> consists of 
 recent videos demonstrating the complete pipeline from medical image data segmentation to patient specific blood flow simulation and analysis.
 <br>

</section>
