<!-- Our Team Section -->
<section id="team" class="content-section text-left">
    <div class="download-section">
        <div class="container">
          <div class="col-lg-12">
              <h2>Our Team</h2>
              <div class="row">
                <!-- Team 1 -->
                <div class="col-lg-3">
                  <div class="thumbnail">
                    <img src="img/TeamTest2.jpg" alt="...">
                    <div class="caption">
                      <h4>Alison Marsden</h4>
                      <%= partial "homepage/team_members/amarsden" %>
                    </div>
                  </div>
                </div>
                <!-- Team 2 -->
                <div class="col-lg-3">
                  <div class="thumbnail">
                    <img src="img/TeamTest2.jpg" alt="...">
                    <div class="caption">
                      <h4>Shawn Shadden</h4>
                      <p>
                      This project is an open source release of tools for cardiovascular simulation. It includes code for reading 3D images, segmenting structures, generating models and meshes, and modeling blood flow in deformable vessels. Commercial components have been used in the model construction, mesh generation and flow solver components. The SimVascular project is derived from the ASPIRE2 software project and includes modified portions of PHASTA from RPI/SCOREC.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- Team 3 -->
                <div class="col-lg-3">
                  <div class="thumbnail">
                    <img src="img/TeamTest2.jpg" alt="...">
                    <div class="caption">
                      <h4>Nathan Wilsonh</h4>
                      <p>
                      This project is an open source release of tools for cardiovascular simulation. It includes code for reading 3D images, segmenting structures, generating models and meshes, and modeling blood flow in deformable vessels. Commercial components have been used in the model construction, mesh generation and flow solver components. The SimVascular project is derived from the ASPIRE2 software project and includes modified portions of PHASTA from RPI/SCOREC.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- Team 4 -->
                <div class="col-lg-3">
                  <div class="thumbnail">
                    <img src="img/TeamTest2.jpg" alt="...">
                    <div class="caption">
                      <h4>John Smith</h4>
                      <p>
                      This project is an open source release of tools for cardiovascular simulation. It includes code for reading 3D images, segmenting structures, generating models and meshes, and modeling blood flow in deformable vessels. Commercial components have been used in the model construction, mesh generation and flow solver components. The SimVascular project is derived from the ASPIRE2 software project and includes modified portions of PHASTA from RPI/SCOREC.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <!-- Team 5 -->
                <div class="col-lg-3">
                  <div class="thumbnail">
                    <img src="img/TeamTest2.jpg" alt="...">
                    <div class="caption">
                      <h4>John Smith</h4>
                      <p>
                      This project is an open source release of tools for cardiovascular simulation. It includes code for reading 3D images, segmenting structures, generating models and meshes, and modeling blood flow in deformable vessels. Commercial components have been used in the model construction, mesh generation and flow solver components. The SimVascular project is derived from the ASPIRE2 software project and includes modified portions of PHASTA from RPI/SCOREC.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- Team 6 -->
                <div class="col-lg-3">
                  <div class="thumbnail">
                    <img src="img/TeamTest2.jpg" alt="...">
                    <div class="caption">
                      <h4>John Smith</h4>
                      <p>
                      This project is an open source release of tools for cardiovascular simulation. It includes code for reading 3D images, segmenting structures, generating models and meshes, and modeling blood flow in deformable vessels. Commercial components have been used in the model construction, mesh generation and flow solver components. The SimVascular project is derived from the ASPIRE2 software project and includes modified portions of PHASTA from RPI/SCOREC.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- Team 7 -->
                <div class="col-lg-3">
                  <div class="thumbnail">
                    <img src="img/TeamTest2.jpg" alt="...">
                    <div class="caption">
                      <h4>John Smith</h4>
                      <p>
                      This project is an open source release of tools for cardiovascular simulation. It includes code for reading 3D images, segmenting structures, generating models and meshes, and modeling blood flow in deformable vessels. Commercial components have been used in the model construction, mesh generation and flow solver components. The SimVascular project is derived from the ASPIRE2 software project and includes modified portions of PHASTA from RPI/SCOREC.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- Team 8 -->
                <div class="col-lg-3">
                  <div class="thumbnail">
                    <img src="img/TeamTest2.jpg" alt="...">
                    <div class="caption">
                      <h4>John Smith</h4>
                      <p>
                      This project is an open source release of tools for cardiovascular simulation. It includes code for reading 3D images, segmenting structures, generating models and meshes, and modeling blood flow in deformable vessels. Commercial components have been used in the model construction, mesh generation and flow solver components. The SimVascular project is derived from the ASPIRE2 software project and includes modified portions of PHASTA from RPI/SCOREC.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

        </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-12">
        <a href="#contact" class="btn btn-circle page-scroll">
          <i class="fa fa-angle-double-down animated"></i>
        </a>
      </div>
    </div>
</section>
