<!-- Workshop Section -->
<section id="workshops" class="content-section text-center">
        <div class="container">
          <div class="col-lg-12">
              <h2>Upcoming Workshops</h2>
              <h4>Learn about SimVascular by attending one of our workshops</h4>

              <a href="https:/sb3c.org/plenary/sb3c-pre-conference-workshop">
                <h4>SB3C Pre-Conference Virtual Workshop, June 13th 2021</h4>
              </a>

              <a href="https://fimh2021.github.io/workshops/">
                <h4>FIMH Virtual Workshop, June 21st 2021</h4>
              </a>

              <a href="https://www.cmbbe-symposium.com/2021/workshops/">
                <h4>CMBBE Workshop, September 7th 2021</h4>
              </a>

        </div>
    </div>
</section>

