<!-- Workshop Section -->
<section id="workshops" class="content-section text-center">
        <div class="container">
          <div class="col-lg-12">
              <h2>Upcoming Workshops</h2>
              <h4>Learn about SimVascular by attending one of our workshops</h4>

              <a href="https://sb3c.org/registration/sb3c-post-conference-workshop/">
                <h4>SB3C Post-Conference Computational Workshop, June 23, 2022</h4>
              </a>

        </div>
    </div>
</section>

