<!-- Our Team Section -->
<section id="workshops" class="content-section text-center">
        <div class="container">
          <div class="col-lg-12">
              <h2>Upcoming Workshops</h2>
              <h4>Learn about SimVascular by attending one of our workshops</h4>

              <!--<a href="workshopWCB.html"><h4>World Congress of Biomechanics, Dublin 2018</h4></a>-->
              <!-- <a href="workshopSB3C19.html">
                <h4>
                  Summer Biomechanics, Bioengineering and Biotransport Conference, Pittsburgh 2019
                </h4>
              </a> -->

              <a href="https://sb3c.org/plenary/sb3c-pre-conference-workshop/">
                <h4>SB3C, Vail, Colorado 2020</h4>
              </a>
        </div>
    </div>
</section>
