---
title: SimVascular Workshops
---
<div class="row" style="margin-top:75px;">

  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
  </div>

  <div class="col-xs-10 col-sm-10 col-md-9 col-lg-5" id="manualContent">
    <div class="row">
      <ul style="list-style-type:none;">
        <li>
          <a href="workshopWCB.html"><h2>World Congress of Biomechanics, Dublin, 2018</h2></a>
        </li>
      </ul>
    </div>

    <div class="row" id="manualContent">

      <!-- ACTUAL CONTENT -->

      <% if man_name == "WCB" %>
        <div class="manWCB"><%= partial "workshops/wcb.md" %></div>
        <img src="img/workshops/SimVascular_Flyer_dublin18.png" width=100%
          style="margin-bottom:75px; margin-top:35px;"/>
      <% end %>

    </div>
  </div>
</div>
