<!--Nav Bar -->
<p><h3>Clinical Case 2</h3></p>
<li><a href="#sec1">Clinical Significance</a></li>
<li><a href="#sec2">Clinical Data</a></li>
<li><a href="#sec3">Model Description</a></li>
<li><a href="#sec4">Boundary Conditions</a></li>
<li><a href="#sec5">Simulation and Results</a></li>

