<!--Nav Bar -->
<p><h3>Coronary Model</h3></p>
<li><a href="#intro">Introduction</a></li>
<li><a href="#anatomy_and_image">Anatomy and <br>Image Data</a></li>
<li><a href="#model">Model Construction Tips</a></li>
<li><a href="#sim">Coronary Simulations</a>
  <ul class="nav nav-stacked">
    <li><a href="#inflow_bc">Inflow BC</a></li>
    <li><a href="#aortic_bc">Aortic Outlet BC</a></li>
    <li><a href="#coronary_bc">Coronary Outlet BC</a></li>
    <li><a href="#parameter_selection">Selection of Parameters</a></li>
    <li><a href="#wall_properties">Wall Properties</a></li>
    <li><a href="#solver_params">Solver Parameters</a></li>
    <li><a href="#run_job">Creating input files and running job</a></li>
  </ul>
</li>
<li><a href="#results">Results</a></li>
<li><a href="#conclusion">Conclusion</a></li>
<li><a href="#references">References</a></li>

<h3>Download</h3>
<a href="https://simtk.org/frs/download.php?file_id=4653">Coronary Example Project</a>
